@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background: url('templates/img.jpg');
  background-size: cover;
  background-position: center;
}

.container{

  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 2);
  border-radius: 8px;
  color: white;
  padding: 30px 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  backdrop-filter: blur(80px);
}
.container h1{
  font-size: 36px;
  text-align: center;

}
.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  
}

.input-panel{
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 2);
  border-radius:  40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}


.input-box input::placeholder {
  color: rgb(228, 218, 218);
}

.input-box i{

  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.remember-forgot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;

}
.remember-forgot label input{
  accent-color: white;
  margin-right: 5px;

}
.remember-forgot a{
  text-decoration: none;
  color: white;
}
.remember-forgot a:hover{
  text-decoration: underline;
}
.login{

  width: 100%;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-top: 25px;

}

.login:hover{
  background-color: transparent;
  border: 2px solid white;
  transition: 0.5s;
}
.register-link{

  text-align: center;
  font-size: 14px;
  margin: 20px 0 15px;
}
.register-link a{
  text-decoration: none;
  color: white;
  font-weight: 500;


}
.register-link a:hover{
  text-decoration: underline;
}