@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('templates/img.jpg');
  background-size: cover;
  background-position: center;
}

.container{

  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 2);
  border-radius: 8px;
  color: white;
  padding: 30px 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.container h1{
  font-size: 36px;
  text-align: center;
  
}